.admin-report-chapter-card-wrapper {
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 25px;
    width: 15vw;
    display: flex;
    flex-flow: column;
}

.admin-report-chapter-card-wrapper:hover {
    cursor: pointer;
}

.admin-report-chapter-card-cover-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-report-chapter-card-cover {
    width: 100%;
    height: auto;
    max-height: 100%;
    border-radius: 25px 25px 0px 0px;
}

.admin-report-chapter-card-title-wrapper {
    color: #000;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.admin-report-chapter-title {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.report-admin-user-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.report-admin-user-wrapper:hover {
    cursor: pointer;
}

.report-admin-user-avatar {
    height: 100px;
    width: 100px;
}

.report-user-displayname {
    margin-top: auto;
    font-weight: bold;
}

.report-admin-show-unfinished-status {
    color: #ff0000;
}

.report-admin-show-finished-status {
    color: #00ff00;
}