.page-title {
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px !important;
}

.page-paginate {
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 20px;
}

.image-carousel-wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}