.header-wrapper {
    text-align: center;
    position: relative;
}

.user-bg-img-wrapper {
    position: absolute;
    width: 100%;
    height: 25vh;
    left: 0;
    right: 0;
}

.user-bg-img {
    opacity: 0.2;
    width: 100%;
    height: 100%;
}

.user-avatar {
    position: relative;
    margin-top: 7.5vh;
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    z-index: 1;
    opacity: 1;
}

.username-header {
    width: 100vw;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.content-wrapper {
    background-color: #990000;
    color: #fff;
    width: 90%;
    text-align: left;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.page-button-div {
    background-color: #990000;
    height: 100%;
    width: 100%;
    text-align: center !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-page-button-div {
    background-color: #ED2939;
    height: 100%;
    width: 100%;
    text-align: center !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-page-button-div {
    background-color: #990000;
    width: 100%;
    height: 100%;
    text-align: center !important;
    cursor: pointer;
    border-top-left-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-selected-page-button-div {
    background-color: #ED2939;
    width: 100%;
    height: 100%;
    text-align: center !important;
    border-top-left-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-page-button-div {
    background-color: #990000;
    width: 100%;
    height: 100%;
    text-align: center !important;
    cursor: pointer;
    border-top-right-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-selected-page-button-div {
    background-color: #ED2939;
    width: 100%;
    height: 100%;
    text-align: center !important;
    border-top-right-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-header {
    width: 100%;
    margin-top: 0.5rem;
}

@media only screen and (orientation: portrait) {
    .first-page-button-div {
        background-color: #990000;
        width: 100%;
        height: 100%;
        text-align: center !important;
        cursor: pointer;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
    }

    .first-selected-page-button-div {
        background-color: #ED2939;
        width: 100%;
        height: 100%;
        text-align: center !important;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
    }

    .last-page-button-div {
        background-color: #990000;
        width: 100%;
        height: 100%;
        text-align: center !important;
        cursor: pointer;
        border-top-right-radius: 0;
    }

    .last-selected-page-button-div {
        background-color: #ED2939;
        width: 100%;
        height: 100%;
        text-align: center !important;
        border-top-right-radius: 0;
    }
}