.alert-wrapper {
    position: fixed;
    width: 100vw;
    top: 5vh;
    left: 0;
    right: 0;
    z-index: 1000;
    border-radius: 25px;
    opacity: 0.8;
}

.hidden-alert-wrapper {
    position: fixed;
    width: 100vw;
    top: 5vh;
    left: 0;
    right: 0;
    z-index: -1000;
    border-radius: 25px;
    opacity: 0.8;
}

@media only screen and (orientation: portrait) {
    .alert-wrapper {
        top: 10vh;
    }

    .hidden-alert-wrapper {
        top: 10vh;
    }
}