.admin-chapter-item-card-wrapper {
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 25px;
    width: 15vw;
    display: flex;
    flex-flow: column;
    position: relative;
}

.admin-chapter-item-card-wrapper:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #66C2FF;
}

.admin-chapter-item-card-cover-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-chapter-item-card-cover {
    width: 100%;
    height: auto;
    max-height: 100%;
    border-radius: 25px 25px 0px 0px;
}

.admin-chapter-item-card-title-wrapper {
    color: #000;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.admin-chapter-item-title {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}