.wrapper {
    width: 180px;
    display: inline-block;
}

.image {
    width: 180px;
    /* height: 265px; */
}

.text-on-image {
    background-color: #202124;
    font-size: 24px;
    color: white;
    text-align: center;
    width: 180px;
    bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a.href-on-image {
    color: #fff;
    text-decoration: none;
}
a.href-on-image:link { 
    color: #fff;
    text-decoration: none; 
}
a.href-on-image:visited { 
    color: #fff;
    text-decoration: none; 
}
a.href-on-image:active { 
    color: #fff;
    text-decoration: none; 
}
a.href-on-image:hover { 
    color: #fff; 
    text-decoration: none; 
}