.wrapper {
    width: 180px;
    display: inline-block;
}

.image {
    width: 180px;
    max-height: 240px;
    box-shadow: 1px 1px 1px 1px #000;
}

.text-on-image {
    background-color: #202124;
    box-shadow: 1px 1px 1px 1px #000;
    font-size: 24px;
    color: white;
    text-align: center;
    width: 180px;
    bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a:link {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:active {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}