.wrapper {
    position: relative;
}

.image {
    width: 180px;
    max-height: 240px;
}

.text-on-image {
    background-color: black;
    width: 180px;
    color: white;
    text-align: center;
    bottom: 0%;
    overflow: hidden;
}

a:link { 
    color: #ffffff;
    text-decoration: none; 
}
a:visited { 
    color: #ffffff;
    text-decoration: none; 
}
a:active { 
    color: #ffffff;
    text-decoration: none; 
}
a:hover { 
    color: #ffffff; 
    text-decoration: none; 
}