.search-text-input {
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    background-color: #d9d9d9;
}

h1.search-header {
    text-align: center;
}

h2 {
    margin-left: 10px;
}

h4 {
    margin-left: 10px
}

.checkbox-grid {
    margin-left: 10px !important;
}

.button-div {
    width: 100%;
    display: grid;
    justify-content: end;
}

.search-button {
    margin-right: 50px !important;
}