.paginate-item-wrapper {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.cover {
    height: 300px;
    width: 200px;
    box-shadow: 1px 1px 1px 1px #000;
}

.item-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chapter-title-href {
    width: 50%;
}

.chapter-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.time {
    float: right;
}

a.chapter-title-href {
    color: #000000;
    text-decoration: none;
}
a.chapter-title-href:link { 
    color: #000000;
    text-decoration: none; 
}
a.chapter-title-href:visited { 
    color: #000000;
    text-decoration: none; 
}
a.chapter-title-href:active { 
    color: #000000;
    text-decoration: none; 
}
a.chapter-title-href:hover { 
    color: #000000; 
    text-decoration: underline; 
}