.pagination {
  --bs-pagination-border-radius: 50% !important;
  --bs-pagination-bg: #990000 !important;
  --bs-pagination-color: #fff !important;
  --bs-pagination-hover-color: #fff !important;
  --bs-pagination-hover-bg: #ed2939 !important;
  --bs-pagination-hover-border-color: #d9d9d9 !important;
  --bs-pagination-active-bg: #202124 !important;
  --bs-pagination-active-border-color: #d9d9d9 !important;
  --bs-pagination-disabled-bg: #990000 !important;
  --bs-pagination-border-color: #d9d9d9 !important;
  --bs-pagination-focus-bg: #990000 !important;
}

body {
  margin: 0;
  font-family: 'Montserrat' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}