.main-admin-wrapper {
    height: 95vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    column-gap: 30px;
    row-gap: 10px;
    padding-top: 10vh;
    padding-bottom: 10vh;
}