.active-login-button {
    background-color: #990000;
    color: #ffffff;
    text-align: center;
    border-bottom: 1px solid #000;
    height: 50px;
    border-top-left-radius: 25px;
}

.login-button {
    text-align: center;
    border-bottom: 1px solid #000;
    height: 50px;
    border-top-left-radius: 25px;
    cursor: pointer;
}

.active-signup-button {
    background-color: #990000;
    color: #ffffff;
    text-align: center;
    border-bottom: 1px solid #000;
    height: 50px;
    border-top-right-radius: 25px;
}

.signup-button {
    text-align: center;
    border-bottom: 1px solid #000;
    height: 50px;
    border-top-right-radius: 25px;
    cursor: pointer;
}

.login-modal-button-title {
    line-height: 50px;
}

.login-modal-title {
    margin: 10px;
}

.textfield-modal-wrapper {
    text-align: center;
}

.modal-button-wrapper {
    text-align: right;
    padding-bottom: 10px;
}

.error-message {
    color: red;
    font-size: 14px;
    font-style: italic;
    margin-left: 20px;
}