.admin-user-comment-card-wrapper {
    display: flex;
    flex-direction: row;
    height: auto;
    min-width: 30vw;
    max-width: 30vw;
    gap: 20px;
    border: 1px solid #09f;
    border-radius: 25px;
    box-shadow: 1px 1px 1px 1px #09f;
}

.admin-user-comment-card-manga-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #09f
}

.admin-user-comment-card-manga-cover {
    width: 100%;
    height: auto;
    object-fit: fill;
    padding: 10px;
}

.admin-user-comment-card-manga-title {
    font-weight: bold;
    text-align: center;
}

.admin-user-comment-card-content-wrapper{
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    width: 100%;
    padding-top: 10px;
}

.admin-user-comment-card-content {
    margin-top: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    /* number of lines to show */
    line-clamp: 8;
    -webkit-box-orient: vertical;
}

.admin-user-comment-card-updatetime {
    margin-top: auto;
    margin-left: auto;
    margin-right: 10px;
}